<div class="ion-page" id="account">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"> Home </ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline" routerLink="/home/shopingcart" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Read-->
<ng-template #laden>
  <label>Fout</label>
</ng-template>

<ion-content class="ion-padding">
    <div *ngIf="(messagesObservable | async); let accounts;else laden">
      <ion-list *ngFor="let a of accounts; let i = index">
        <ion-item>
          <ion-label>{{a.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{a.prename}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{a.email}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{a.adress}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{a.city}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{a.postcode}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
  
<!--Create-->
<!--Update-->
<!--Delete-->

</div>
