<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/"> Home </ion-back-button>
      </ion-buttons>
      <ion-title>Wijn</ion-title>
    </ion-toolbar>
  </ion-header>
  <ng-template #laden>
    <label>Fout</label>
  </ng-template>

  <ion-content class="ion-padding">
    <div *ngIf="(messagesObservable | async); let Wijnen;else laden">
      <ion-item *ngFor="let wi of Wijnen;let i = index">
        <ion-label>{{wi.name}}</ion-label>
        <ion-label class="ion-text-center">{{wi.price}}</ion-label>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-item>
    </div>
  </ion-content>
</div>
