<div class="ion-page" id="bier">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/"> Home </ion-back-button>
      </ion-buttons>
      <ion-title>Bier</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-template #laden>
    <label>Fout</label>
  </ng-template>

  <ion-content class="ion-padding">
      <div *ngIf="(messagesObservable | async); let biers;else laden">
          <ion-item *ngFor="let b of biers;let i = index">
            <ion-label>{{b.name}}</ion-label>
            <ion-label class="ion-text-center">{{b.price}}</ion-label>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-item>
      </div>
  </ion-content>
</div>
