<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button slot="start" menu="main-menu"></ion-menu-button>
      <ion-title>Frisdranken</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="cart-outline" routerLink="/home/shopingcart" size="large"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" routerLink="/login">
        <ion-icon name="log-out-outline" (click)="authService.signOut()" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ng-template #laden>
    <label>Fout</label>
  </ng-template>

  <ion-content class="ion-padding">
    <div *ngIf="(messagesObservable | async); let Frisdranken;else laden">
      <ion-item *ngFor="let f of Frisdranken;let i = index">
        <ion-label>{{f.name}}<br>{{f.price}} €</ion-label>
        <ion-button (click)="addToCart(f)">
        <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-content>
</div>
