<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/"> Home </ion-back-button>
      </ion-buttons>
      <ion-title>Fruitsappen</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="cart-outline" routerLink="/home/shopingcart" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ng-template #laden>
    <label>Fout</label>
  </ng-template>

  <ion-content class="ion-padding">
    <div *ngIf="(messagesObservable | async); let Fruitsappen;else laden">
      <ion-item *ngFor="let f of Fruitsappen;let i = index">
        <ion-label>{{f.name}}</ion-label>
        <ion-label class="ion-text-center">{{f.price}}</ion-label>
        <ion-button (click)="addToCart(f)">
        <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-content>
</div>
