<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list align="center">
      <ion-button shape="round" routerLink="bier">Bier</ion-button>
      <br>
      <ion-button shape="round" routerLink="wijn">Wijn</ion-button>
      <br>
      <ion-button shape="round" routerLink="cava">Cava</ion-button>
      <br>
      <ion-button shape="round" routerLink="water">Water</ion-button>
      <br>
      <ion-button shape="round" routerLink="frisdrank">Frisdrank</ion-button>
      <br>
      <ion-button shape="round" routerLink="fruitsappen">Fruitsappen</ion-button>
      <br>
      <ion-button shape="round" routerLink="account">Account</ion-button>
    </ion-list>
</ion-content>
