<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list align="center">
      <ion-button shape="round" routerLink="/home/bier">Bier</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/wijn">Wijn</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/cava">Cava</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/water">Water</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/frisdrank">Frisdrank</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/fruitsappen">Fruitsappen</ion-button>
      <br>
      <ion-button shape="round" routerLink="/home/account">Account</ion-button>
    </ion-list>
</ion-content>
